.hystmodal {
    .hystmodal__wrap {
        .hystmodal__window {
            border-radius: $border-radius;

            .hystmodal__close {
            }

            .hystmodal__header {
                padding: 15px;
                border-bottom: 1px solid $color-purple-gray;

                h2 {
                    margin: 0;
                }
            }

            .hystmodal__body {
                padding: 30px;

                form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                }
            }

            .hystmodal__footer {
                padding: 15px;
                border-top: 1px solid $color-purple-gray;
            }
        }
    }
}
